/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    /*-fx-background-color: #444444;*/
    -fx-background-color: #55608f;
    -fx-font-family: sans-serif;
    -fx-font-weight: 100;
}

.table-view {
    /*-fx-background-color: #616161;*/
    -fx-border-collapse: collapse;
    -fx-overflow: hidden;
    -fx-box-shadow: 20px;
    -fx-box-background-color: rgba(0, 0, 0, 0.1);
}

.table-cell:hover:before {
    /*-fx-background-color: #616161;*/
    -fx-content: "";
    -fx-position: absolute;
    -fx-left: 0;
    -fx-right: 0;
    -fx-top: -9999px;
    -fx-bottom: -9999px;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-z-index: -1;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #dac5c5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-row-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

.table-view .table-cell {
    /*-fx-text-fill: white;*/
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#55608f 0%, #55608f 100%);
    /*-fx-background-color: -webkit-linear-gradient(#145553 45deg, #5f2c82 45deg);*/
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}